@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-openSans;
}

body {
  background-color: #041233;
  opacity: 0.8;
  background-image: radial-gradient(#363636 0.5px, #041233 0.5px);
  background-size: 10px 10px;
  height: 100vh;
}
